.container {
    background: green;
    width: 388px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title, .sub-title {
    margin: 0;
}

.title {
    font-size: 36px;
    padding-bottom: 28px;
    color: var( --primary-text );
}

.sub-title {
    font-size: 20px;
    line-height: 160%;
    color: var( --secondary-text );
}

header, form, .or-form {
    background-color: yellow;
}

@media only screen and (max-width: 875px){
    .container {
        width: 100%;
        height: 100%;
    }

    .title {
        font-size: 24px;
    }
    
    .sub-title {
        font-size: 15px;
    }
}