<div class="container">
    <header>
        <h1 class="title">Welcome Back  👋</h1>
        <p class="sub-title">
            Today is a new day. It's your day. You shape it.<br>
            Sign in to start managing your projects.
        </p>
    </header>
    <form>
        @for (input of inputs; track input.id){
            <label for="{{ input.type }}" class="input">
                {{ input.name }}<br>
                <input type="{{ input.type }}" name="{{ input.type }}" id="{{ input.type }}" placeholder="{{ input.placeholder }}">
            </label>
        }

        <a>Forgot Password?</a>
        
        <button class="main-button" onclick='location.href="https://www.facebook.com/"'>Sign in</button>
    </form>
    <div class="or-form">
        <div class="or-container">
            <div class="or">Or</div>
        </div>
        <div class="sign-in-buttons">
            @for (socialButton of socialButtons; track socialButton.id){
                <button class="sotial-button"><img src="icons/{{ socialButton.name }}.svg" alt="{{ socialButton.name }} icon" class="icon"><span>Sign in with</span>&nbsp;<span>{{ socialButton.name }}</span></button>
            }
        </div>
    </div>
</div>