<div class="container">
    <header>
        <h1 class="title">Welcome Back  👋</h1>
        <p class="sub-title">
            Today is a new day. It's your day. You shape it.<br>
            Sign in to start managing your projects.
        </p>
    </header>
    <form>
        @for (input of inputs; track input.id){
            <label for="{{ input.type }}" class="input">
                {{ input.name }}<br>
                <input type="{{ input.type }}" name="{{ input.type }}" id="{{ input.type }}" placeholder="{{ input.placeholder }}">
            </label>
        }
        
    </form>
    <div class="or-form">
        this is or-form
    </div>
</div>