.container {
    width: 388px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.title, .sub-title {
    margin: 0;
}

.title {
    font-size: 36px;
    padding-bottom: 28px;
    color: var( --primary-text );
    font-family: sf-pro-display-rounded;
}

.sub-title {
    font-size: 20px;
    line-height: 160%;
    color: var( --secondary-text );
    font-family: sf-pro-display;
}

.sign-up {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

@media only screen and (max-width: 875px){
    .container {
        width: 100%;
        height: 100%;
        gap: 24px;
    }

    .title {
        font-size: 24px;
    }
    
    .sub-title {
        font-size: 15px;
    }

    .main-button {
        font-size: 16px;
        line-height: 46px;
    }

    .sign-up {
        font-size: 16px;
    }
}