form {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.input {
    font-size: 16px;
    color: var( --primary-text );
}

.input input {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    border: 1px solid #D4D7E3 ;
    border-radius: 12px;
    background-color: #F7FBFF;
    padding: 16px;
    margin-top: 7px;
}

.input input::placeholder {
    color: #8897AD;
    font-size: 16px;
}

a {
    color: var( --link );
    text-decoration: none;
}

.forgot-password {
    display: block;
    width: fit-content;
    margin-left: auto;
}

.sign-up {
    margin: 0;
    text-align: center;
    font-size: 18px;
}

.main-button {
    font-size: 20px;
    width: 100% ;
    min-width: 150px;
    padding: 0 16px;
    border-radius: 12px;
    border: none;
    background-color: #162D3A;
    color: #FFFFFF;
    cursor: pointer;
    line-height: 52px;
}


@media only screen and (max-width: 875px){

    form {
        gap: 16px;
    }

    .input {
        font-size: 14px;
    }

    .input input {
        height: 44px;
    }
    
    .input input::placeholder {
        font-size: 14px;
    }

    a {
        font-size: 14px;
    }

    .main-button {
        font-size: 16px;
        line-height: 46px;
    }
}