main {
    width: calc(100% - 64px);
    height: calc(100% - 64px);
    display: flex;
    flex-direction: row-reverse;
    gap: 32px;
    padding: 32px;
}

main section {
    width: calc(50% - 16px);
    height: 100%;
}

.flex-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.copyright-pc, .copyright-phone{
    text-align: center;
    color: #959CB6;
}

.decoration-img {
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background-image: url("https://cdn.pixabay.com/photo/2022/12/04/03/08/youtube-background-7633621_1280.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media only screen and (max-width: 875px){
     main {
        flex-direction: column;
        gap: 27px;
        padding: 24px;
        width: calc(100% - 48px);
        height: calc(100% - 48px);
    }

    main section:nth-of-type(1) {
        height: 180px;
        width: 100%;
    }
    
    main section:nth-of-type(2) {
        width: 100%;
        height: 548px;
    }

    main section.copyright-phone {
        width: 100%;
        height: fit-content;
        font-size: 14px;
    }

    .copyright-pc, .flex-space-item{
        display: none;
    }

    app-login-page {
        width: 100%;
        height: 100%;
    }

}

@media only screen and (min-width: 876px){
   .copyright-phone{
       display: none;
   }
    .copyright-pc{
        width: 100%;
        height: fit-content;
        font-size: 16px;
    }
}
