.or-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.or-form div.or-container {
    margin: 10px 0;
    position: relative;
}

.or-form div.or{
    font-size: 16px;
    text-align: center;
    margin: 0 auto;
    padding: 0 16px;
    width: fit-content;
    position: relative;
    background-color: #FFFFFF;
}

.or-form div.or-container::before{
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #CFDFE2;
}

.or-form div.sign-in-buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}

.sotial-button {
    width: 100%;
    min-width: 150px;
    padding: 0 16px;
    border-radius: 12px;
    border: none;
    background-color: #F3F9FA;
    cursor: pointer;
    line-height: 52px;
}

.sotial-button img{
    margin-right: 16px;
    vertical-align: middle;
}

.icon {
    width: 28px;
    height: 28px;
}

.sotial-button span:last-of-type {
    display: inline-block;
    text-align: left;
    min-width: 60px;
}

@media only screen and (max-width: 875px){
    .or-form div.sign-in-buttons{
        flex-direction: row;
        gap: 16px;
    }

    .sotial-button {
        line-height: 40px;
    }
    
    .sotial-button img{
        margin-right: 16px;
        vertical-align: middle;
    }

    .icon {
        width: 24px;
        height: 24px;
    }
    
    .sotial-button span:first-of-type {
        display: none;
    }
}