:root {
    --link: #1E4AE9;
    --primary-text: #0C1421;
    --secondary-text: #313957;
}

* {
    outline:1px solid black;/* will be removed, just to make it easier to read the code's output */
}


html, body {
    height: 100%;
    margin: 0;
    padding: 0;

}